*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.acerBtn{
  border : 2px solid black;
  width: 7rem;
  padding: 1%;
  align-items: center;
  margin: auto;
  margin-top: 2%;
  border-radius: 5px;
  cursor: pointer;
  transition: .5s all ease-in-out;
}
.acerBtnWhite{
    border: 2px solid white;
    width: 7rem;
    padding: 1%;
    align-items: center;
    margin: auto;
    margin-top: 2%;
    border-radius: 5px;
    transition: .5s all ease-in-out;
    cursor: pointer;
}
.acerBtn:hover{
  background-color: rgb(0, 0, 0);
  color: white;
}
.acerBtnWhite:hover{
  background-color: white;
  color: black;
}